/Laboratorio1/target/
/Lab1/target/
/SentenciaIf/target/
/Parcial1/SentenciaWhile/target/
/Parcial1/BuclesAnidadosForSwitch/target/
/Parcial1/RadioCircunferencia/target/
/Parcial1/Descuentos/target/
/Parcial1/Tienda/target/
/Parcial1/ArregloAlfabeto/target/
